// ==================================
// #SAY THEME
// ==================================

// Display options
$say-layout-reverse    : false;
$say-sidebar           : true;
$say-paper             : true;
$say-show-rdfa         : true;
$say-hover-annotations : false;

// Annotation options
$say-annotation-width            : $say-unit-huge*3;
$say-annotation-offset           : $say-unit;
$say-annotation-gutter           : -$say-unit-small;
$say-annotation-width-content    : $say-annotation-width - $say-unit-large;
$say-annotation-background-color : $say-neutral-lighter;
