.toolbar__styling-tools + div {
  display: none;
}
em, i {
	 font-style: italic;
}
 .document-publish ul.bullet-list, .editor__paper ul.bullet-list, .document-print ul.bullet-list {
	 padding-left: 0;
}
 .document-publish ul ol:before, .editor__paper ul ol:before, .document-print ul ol:before, .document-publish ol ol:before, .editor__paper ol ol:before, .document-print ol ol:before, .document-publish ul ul:before, .editor__paper ul ul:before, .document-print ul ul:before, .document-publish ol ul:before, .editor__paper ol ul:before, .document-print ol ul:before {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 1.5rem;
	 height: 1.5rem;
	 left: -2rem;
	 top: 0.5rem;
	 background-color: white;
	 z-index: 1;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list), .editor__paper ol:not(.bullet-list):not(.numbered-list), .document-print ol:not(.bullet-list):not(.numbered-list), .document-publish ul:not(.bullet-list):not(.numbered-list), .editor__paper ul:not(.bullet-list):not(.numbered-list), .document-print ul:not(.bullet-list):not(.numbered-list) {
	 padding-left: 1.75em;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list) > li, .editor__paper ol:not(.bullet-list):not(.numbered-list) > li, .document-print ol:not(.bullet-list):not(.numbered-list) > li, .document-publish ul:not(.bullet-list):not(.numbered-list) > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) > li, .document-print ul:not(.bullet-list):not(.numbered-list) > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list) > li, .editor__paper ol:not(.bullet-list):not(.numbered-list) > li, .document-print ol:not(.bullet-list):not(.numbered-list) > li {
	 list-style-type: decimal;
}
 .document-publish [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li, .editor__paper [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li, .document-print [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li {
	 list-style-type: none;
}
