
// Appuniversum theme
@import "ember-power-select";
@import "ember-appuniversum";
@import "ember-rdfa-editor";
@import "citaten-plugin";
@import "date-plugin";
@import "variable-plugin";
@import "besluit-plugin";
@import 'article-structure-plugin';

div.table-of-contents {
  padding: $au-unit-small !important;
  margin-bottom: $au-unit-large;
  outline: 0.2rem dashed var(--au-gray-300);
  outline-offset: 0.2rem;

  h3 {
    margin-top: 0;
  }

  ul {
    margin-top: $au-unit-tiny;
    padding-left: 0;
  }

  ul ul {
    margin-left: 0;
  }

  ul li {
    list-style-type: none !important;
  }
}