/* ==================================
   #DUMMY APP
   ================================== */
@use "@lblod/ember-rdfa-editor" with (
  $say-paper-min-height: var(
      --say-editor-minimum-page-height,
      calc(100% + 2.4rem)
    )
);
@use "leaflet";

// We need to use `@import` for these as they also still use the old `@import` syntax (and thus do not have scoped imports)
@import "@appuniversum/ember-appuniversum/styles";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/citaten-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/date-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/variable-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/besluit-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/address-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/generic-rdfa-variable";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/snippet-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/template-comments-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/confidentiality-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/worship-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/structure-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/location-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/mandatee-table-plugin";
@import "@lblod/ember-rdfa-editor-lblod-plugins/app/styles/roadsign-regulation-table";

.notule-editor {
  // VARIABLES START

  // Font Family
  --au-font: var(
    --say-font-family,
    "flanders-sans",
    BlinkMacSystemFont,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  );

  // TODO: Create a variable inside the editor repo itself, so we can target it instead of using selectors.
  //       Using this approach for a proof of concept.
  .say-container--paper .say-editor {
    background-color: var(--say-page-bg, #f7f9fc);
  }

  .say-content {
    font-size: var(--say-font-size-text, 15px);

    $default-heading-font-sizes: (
      "h1": 44px,
      "h2": 32px,
      "h3": 26px,
      "h4": 20px,
      "h5": 18px,
      "h6": 16px,
    );

    @each $heading, $default-font-size in $default-heading-font-sizes {
      #{$heading} {
        font-size: var(--say-font-size-#{$heading}, #{$default-font-size});
      }
    }

    line-height: var(--say-editor-line-height, var(--au-global-line-height));

    p + * {
      margin-top: var(--say-paragraph-spacing, 12px);
    }

    div.table-of-contents {
      padding: $au-unit-small !important;
      margin-bottom: $au-unit-large;
      outline: 0.2rem dashed var(--au-gray-300);
      outline-offset: 0.2rem;

      h3 {
        margin-top: 0;
      }

      ul {
        margin-top: $au-unit-tiny;
        padding-left: 0;
      }

      ul ul {
        margin-left: 0;
      }

      ul li {
        list-style-type: none !important;
      }
    }
  }

  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
}

.leaflet-container {
  height: 100%;
}

.ember-application {
  height: 100%;
}

.notule-editor {
  height: 100%;
}
