<div class="au-c-environment-banner">
<AuToolbar @size='medium'>
  <AuToolbarGroup>
    <p>
      {{@environmentName}}
      environment
    </p>
    <p>
      Embeddable {{this.applicationVersion}}
    </p>
    <AuLinkExternal href="https://github.com/lblod/frontend-embeddable-notule-editor"
          >Documentation</AuLinkExternal
        >
    <PackagesOverview/>
  </AuToolbarGroup>
</AuToolbar>
</div>
