body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  overflow: hidden;
}

.demo-header {
  position: relative;
  z-index: 1;
}

.demo-content {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.notule-editor {
  height: 100%;
}
